/*
  Font definitions.
  Those try to:
  1) first try to load locally (system font)
  2) try to use the most modern format (woff2)
  3) go down to older formats if not supported

  Weight name mapping reference table: https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-weight
	100	Thin (Hairline)
	200	Extra Light (Ultra Light)
	300	Light
	400	Normal
	500	Medium
	600	Semi Bold (Demi Bold)
	700	Bold
	800	Extra Bold (Ultra Bold)
	900	Black (Heavy)
  */
@font-face {
  font-family: 'AvenirNext';
  font-display: swap; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
  font-style: normal;
  font-weight: 400;

  src: local('Avenir Next'), local('AvenirNext'),
    url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/AvenirNext-Regular.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/AvenirNext-Regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/AvenirNext-Regular.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AvenirNext';
  font-display: swap; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
  font-style: normal;
  font-weight: 700;

  src: local('Avenir Next'), local('AvenirNext'),
    url('/fonts/AvenirNext-Bold.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/AvenirNext-Bold.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/AvenirNext-Bold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/AvenirNext-Bold.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AvenirNext';
  font-display: swap; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
  font-style: italic;
  font-weight: 700;

  src: local('Avenir Next'), local('AvenirNext'),
    url('/fonts/AvenirNext-BoldItalic.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/AvenirNext-BoldItalic.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/AvenirNext-BoldItalic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/AvenirNext-BoldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AvenirNext';
  font-display: swap; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
  font-style: normal;
  font-weight: 600;

  src: local('Avenir Next'), local('AvenirNext'),
    url('/fonts/AvenirNext-DemiBold.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/AvenirNext-DemiBold.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/AvenirNext-DemiBold.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/AvenirNext-DemiBold.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AvenirNext';
  font-display: swap; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
  font-style: italic;
  font-weight: 600;

  src: local('Avenir Next'), local('AvenirNext'),
    url('/fonts/AvenirNext-DemiBoldItalic.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/AvenirNext-DemiBoldItalic.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/AvenirNext-DemiBoldItalic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/AvenirNext-DemiBoldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AvenirNext';
  font-display: swap; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
  font-style: normal;
  font-weight: 500;

  src: local('Avenir Next'), local('AvenirNext'),
    url('/fonts/AvenirNext-Medium.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/AvenirNext-Medium.woff') format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/AvenirNext-Medium.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('/fonts/AvenirNext-Medium.svg#svgFontName')
      format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AvenirNext';
  font-display: swap; /* https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display */
  font-style: italic;
  font-weight: 500;

  src: local('Avenir Next'), local('AvenirNext'),
    url('/fonts/AvenirNext-MediumItalic.woff2') format('woff2'),
    /* Modern Browsers */ url('/fonts/AvenirNext-MediumItalic.woff')
      format('woff'),
    /* Pretty Modern Browsers */ url('/fonts/AvenirNext-MediumItalic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('/fonts/AvenirNext-MediumItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
}
