::selection {
  background-color: #3c74db; // blue-500
  color: #fefefe; // gray-100
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* no blue flashes */
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body,
body > div:first-child,
#__next {
  @apply min-w-full h-full min-h-full m-0 p-0 bg-gray-100 dark:bg-gray-900 font-dsebastien text-base font-normal;
  letter-spacing: -0.1px;
  /* Standard line height */
  /* Reference for line-height: https://dev.to/lampewebdev/css-line-height-jjp */
  line-height: 1.5;
  overflow: auto;
}

.full-page {
  @apply min-h-full min-w-full;
}

.site-button {
  @apply text-center bg-blue-500 dark:bg-blue-400 hover:bg-blue-600 dark:hover:bg-blue-500 px-3 py-1 rounded-md font-medium text-sm text-gray-100 dark:text-gray-100 hover:text-white dark:hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 ease-in-out transition-all duration-300 #{!important};
  min-width: 6rem;
}

h1 {
  @apply text-3xl font-semibold #{!important}; /* FIXME avoid forcing important once the GlobalStyles get loaded in the right order) */
}

.page-heading {
  @apply font-bold text-3xl md:text-5xl tracking-tight mb-4 text-gray-900 dark:text-gray-100 #{!important};
}

/**
  Anchor links
  Links are generated through mdx.ts
 */
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  & > a {
    @apply outline-none;
    & > span.anchor-link:after {
      @apply ml-2 inline-block;
      content: '#';
    }
  }
}

.article-content-wrapper {
  @apply prose dark:prose-dark max-w-2xl mx-auto mb-16;
}

.page-content-wrapper {
  @apply max-w-2xl mx-auto mb-16;
}

.scroll-to-top {
  @apply fixed z-10 cursor-pointer rounded-md w-10 h-10 p-2 shadow-lg hover:shadow-2xl border-0 bg-blue-500 dark:hover:bg-blue-400 hover:bg-blue-700 transition-all ease-in-out duration-500;
  right: 40px;
  bottom: 40px;
}

.scroll-to-top:active {
  transform: matrix(0.95, 0, 0, 0.95, 0, 0);
}

/**
  Improve rendering of gists (remove line borders)
 */
.gist tr {
  @apply border-none;
}

.stylistic-quote-mark {
  font-size: 0rem;
  @apply mr-0 text-pink-500 absolute top-0 leading-none;
}

@screen md {
  .stylistic-quote-mark {
    font-size: 5rem;
    right: 100%;
    @apply block mr-4;
  }
}

.book-card {
  @apply flex flex-col items-center border-2 rounded-md border-gray-300 dark:border-gray-800 hover:border-blue-400 dark:hover:border-blue-400 hover:shadow-md transition-all ease-in duration-150 hover:cursor-pointer;
  min-height: 540px;
  min-width: 300px;

  & > div {
    @apply p-4 flex-shrink-0;
  }

  & > footer {
    @apply flex-grow p-4 min-w-full text-gray-900 dark:text-gray-100 bg-gray-200 dark:bg-blue-500;
  }
}

.project-card {
  @apply flex flex-col items-center border-2 rounded-md border-gray-300 dark:border-gray-800 hover:border-blue-400 dark:hover:border-blue-400 hover:shadow-md transition-all ease-in duration-150 hover:cursor-pointer;
  min-height: 300px;
  min-width: 300px;

  & > div {
    @apply p-4 flex-shrink-0;
  }

  & > footer {
    @apply flex-grow p-4 min-w-full text-gray-900 dark:text-gray-100 bg-gray-200 dark:bg-blue-500;
  }
}

.blog-post-summary-container {
  @apply mt-4 border-2 rounded-md p-2 border-gray-300 dark:border-gray-800 hover:border-blue-400 dark:hover:border-blue-400 hover:shadow-md transition-all ease-in duration-150 hover:cursor-pointer;
}

.newsletter-edition-summary-container {
  @apply mt-4 border-2 rounded-md p-2 border-gray-300 dark:border-gray-800 hover:border-blue-400 dark:hover:border-blue-400 hover:shadow-md transition-all ease-in duration-150 hover:cursor-pointer;
}
