# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# backups
/backups

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log*
yarn-debug.log*
testem.log
/typings
report.*.json

# System Files
.DS_Store
Thumbs.db

# env files
.env
.env.*

# PNP
/.pnp
.pnp.js

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next
.now
/.vercel/
/.next/
apps/website/public/sitemap.xml
apps/website/public/feed.xml

# Next.js
.next
