# Add files here to ignore them from prettier formatting

dist/
.tmp/
coverage/
node_modules/
coverage/
.next/
backups/
.env.*
.vercel/
__mocks__
.git/
.github/
.idea/
.vscode/
package.json
package-lock.json
yarn.lock
yarn-error.log
